src/main/resources/XeroSchemas/v2.00/ContactGroup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="ContactGroup"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:include schemaLocation="Contact.xsd" />

  <xs:element name="ContactGroups" nillable="true" type="ArrayOfContactGroup" />

  <xs:complexType name="ArrayOfContactGroup">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactGroup" nillable="true" type="ContactGroup" />
      </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContactGroup">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="contactGroupName" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="contactGroupStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContactGroupID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contacts" type="ArrayOfContact" />
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>

</xs:schema>
