src/main/resources/XeroSchemas/v2.00/InvoiceReminder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="InvoiceReminder"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="BaseTypes.xsd" />
    
  <xs:element name="InvoiceReminder" type="InvoiceReminder" />

  <!-- Invoice Reminder -->
  <xs:complexType name="InvoiceReminder">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="Enabled" type="xs:boolean" />
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>
  
</xs:schema>
