src/main/resources/XeroSchemas/v2.00/LinkedTransaction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="LinkedTransaction"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
  <xs:include schemaLocation="BaseTypes.xsd" />

  <xs:element name="LinkedTransactions" type="ArrayOfLinkedTransaction" />
  
  <xs:complexType name="ArrayOfLinkedTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LinkedTransaction" nillable="true" type="LinkedTransaction" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LinkedTransaction">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="SourceTransactionID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="SourceLineItemID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="ContactID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="TargetTransactionID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="TargetLineItemID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="LinkedTransactionID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="linkedTransactionStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="linkedTransactionType" />
      <xs:element minOccurs="1" maxOccurs="1" name="UpdatedDateUTC" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="SourceTransactionTypeCode" type="sourceTransactionTypeCode" />      
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />    
  </xs:complexType>
  
</xs:schema>
