src/main/resources/XeroSchemas/v2.00/Overpayment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Overpayment"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:include schemaLocation="Account.xsd" />
  <xs:include schemaLocation="Invoice.xsd" />
  <xs:include schemaLocation="Allocation.xsd" />

  <xs:element name="Overpayment" type="Overpayment" />

  <!-- Payment against an invoice -->
  <xs:complexType name="Overpayment">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="Type" type="overpaymentType" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="Contact" />
      <xs:element minOccurs="1" maxOccurs="1" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="overpaymentStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineAmountTypes" type="lineAmountType" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineItems" type="ArrayOfLineItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="SubTotal" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalTax" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Total" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdatedDateUTC" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="currencyCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="OverpaymentID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyRate" type="currencyRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="RemainingCredit" type="xs:decimal" />
      <xs:element minOccurs="0" maxOccurs="1" name="Allocations" type="ArrayOfAllocation" />
      <xs:element minOccurs="0" maxOccurs="1" name="Payments" type="ArrayOfPayment" />
      <xs:element minOccurs="0" maxOccurs="1" name="HasAttachments" type="xs:boolean" />   
      <xs:element minOccurs="0" maxOccurs="1" name="AppliedAmount" type="xs:decimal" />
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>

  <xs:element name="Overpayments" nillable="true" type="ArrayOfOverpayment" />

  <xs:complexType name="ArrayOfOverpayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Overpayment" nillable="true" type="Overpayment" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
