src/main/resources/XeroSchemas/v2.00/PurchaseOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="PurchaseOrder"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
  <xs:include schemaLocation="BaseTypes.xsd" />
  <xs:include schemaLocation="Account.xsd" />
  <xs:include schemaLocation="Attachment.xsd" />
  <xs:include schemaLocation="Contact.xsd" />
  <xs:include schemaLocation="CurrencyCode.xsd" />
  <xs:include schemaLocation="LineItem.xsd" />
  <xs:include schemaLocation="Payment.xsd" />
  <xs:include schemaLocation="CreditNote.xsd" />  
  <xs:include schemaLocation="Address.xsd" />

  <xs:element name="PurchaseOrders" nillable="true" type="ArrayOfPurchaseOrder" />

  <xs:complexType name="ArrayOfPurchaseOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseOrder" nillable="true" type="PurchaseOrder" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="PurchaseOrder" type="PurchaseOrder" />

  <xs:complexType name="PurchaseOrder">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="ValidationErrors" type="ArrayOfValidationError" />
      <xs:element minOccurs="0" maxOccurs="1" name="Warnings" type="ArrayOfWarning" />
      <xs:element minOccurs="0" maxOccurs="1" name="Contact" type="Contact" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineItems" type="ArrayOfLineItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="LineAmountTypes" type="lineAmountType" />
      <xs:element minOccurs="0" maxOccurs="1" name="PurchaseOrderNumber" type="purchaseOrderNumberType" /> 
      <xs:element minOccurs="0" maxOccurs="1" name="Reference" type="referenceType" />
      <xs:element minOccurs="0" maxOccurs="1" name="BrandingThemeID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="currencyCode" />
      <xs:element minOccurs="0" maxOccurs="1" name="Status" type="purchaseOrderStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="SentToContact" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeliveryAddress" type="ArrayOfAddress" />
      <xs:element minOccurs="0" maxOccurs="1" name="AttentionTo" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Telephone" type="ArrayOfPhone" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeliveryInstructions" type="deliveryInstructionsType" />
      <xs:element minOccurs="0" maxOccurs="1" name="ExpectedArrivalDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PurchaseOrderID" type="uniqueIdentifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="CurrencyRate" type="currencyRate" />
      <xs:element minOccurs="0" maxOccurs="1" name="SubTotal" type="itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalTax" type="itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="Total" type="itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="TotalDiscount" type="itemPrice" />
      <xs:element minOccurs="0" maxOccurs="1" name="HasAttachments" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdatedDateUTC" type="xs:dateTime" />
    </xs:all>
    <xs:attribute name="status" type="entityValidationStatus" use="optional" />
  </xs:complexType>
  
</xs:schema>